/* Write your CSS here */
.container {
  background-image: linear-gradient(#2b2c49, #b5b9ff);
  font-family: roboto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
